<img src="./images/spotify-background.jpeg" alt="photo from a festival" width=100%>

<form action="/artist-search", method="GET"> 
    <input type="text">
    <button>Search for an Artist</button>
</form>